@font-face {
    font-family: Lobster;
    src: url('./fonts/Lobster-Regular.ttf');
}

@font-face {
	font-family: Nexa-Rust
	src: url('./fonts/nexa-rust.sans-black.otf');
}

@keyframes bob {
    0%, 100% {
        bottom: 2%;
    }
    50% {
        bottom: 7%;
    }
}

body {
    text-align: center;
    background-color: rgb(220, 230, 240);
    margin: 0px;
    color: rgb(55,55,55);
}

section.container{
    border-radius: 50px;
    background-color: rgb(80, 110, 150);
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 1%;
    margin-bottom: 30%;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Lobster;
}

section .text-box {
    font-family: initial;
    margin-top: 60px;
    margin-bottom: 60px;
}

section .text-box span {
    background-color: rgb(40, 212, 255);
    padding: 10px;
}

section#title {
    font-size: 140%;
    margin: 20px;
    padding-top: 220px;
    padding-bottom: 280px;
    font-family: Lobster;
}

.reveal{
    position: relative;
    transform: translateY(21.429dvh);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(17, 111, 165);
    border-color: rgb(0, 40, 87);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.social-link:hover {
	box-shadow: 0px 0px 50px grey;
}
.social-link {
	border-radius: 50%;
	width: 9%;
}

#scrollIndicator {
    animation: bob 2s linear infinite;
    position: absolute;
    right: 0%;
    bottom: 2%;
}

#scrollIndicatorText {
    font-weight: normal;
    margin-bottom: 0%;
}
