.Thing {
	animation: Title-bar 4s linear infinite;
}
@keyframes Title-bar {
	0% {background:purple;}
	50% {background:#00aae8;}
	100% {background:purple;}
}
.links {
	color: Blue;
	font-size: 100%;
	font-family: "Times New Roman", serif;
	text-decoration: none; 
	font-weight: 300;
}
#Title {
	color:Green;
}
#links {
	display:inline;
}
body {
	color:Yellow;
	height:100%;
	background-image:linear-gradient(to bottom, #2bc2bd, #0e00d6, #c41dbe);
	background-size:cover;
	background-repeat:repeat-y;
}
