.Thing {
	background:#00aae8;
}
.links {
	color: Blue;
	font-size: 100%;
	font-family: "Times New Roman", serif;
	text-decoration: none; 
	font-weight: 300;
	display: inline;
}
#Title {
	color: Green;
}
body {
	color:Yellow;
	height:100%;
	background-color: Purple;
}
.links a {
	margin-right: 5px;
	margin-left: 5px;
}
#Main-Page-Projects {
	background:#00aae8;
	min-height: 200px;
	color: Green;
}
.TitleHeader {
	background: blue;
}
