.Thing {
	background:#00aae8;
}
.links {
	color: Blue;
	font-size: 100%;
	font-family: "Times New Roman", serif;
	text-decoration: none; 
	font-weight: 300;
}
#Title {
	color:Green;
}
body {
	color:Yellow;
	height:100%;
	background-color: Purple;
}
a {
	color: Green;
}
#link-list li {
	display: inline;
}
