@font-face {
  font-family: Metrica;
  src: url('/fonts/Metrica.ttf');
}
.links {
	color: Blue;
	font-size: 100%;
	font-family: "Times New Roman", serif;
	text-decoration: none; 
	font-weight: 300;
	display: inline;
}
body {
	color: royalblue;
	height:100%;
	background-color: powderblue;
}
.links a {
	margin-right: 5px;
	margin-left: 5px;
}
#Main-Page-Projects {
	min-height: 200px;
}
.TitleHeader {
	background-color: #ff751a;
	text-align: center;
	color: Black;
	font-family: Metrica;
}
.Right {
	margin-left: 50%;
}
.social-link:hover {
	box-shadow: 10px 10px 5px grey;
}
.social-link {
	border-radius: 50%;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(17, 111, 165);
    border-color: rgb(0, 40, 87);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}
